* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background: url("https://images.unsplash.com/photo-1498654896293-37aacf113fd9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  height: 100vh;
  background-size: cover;
  /* object-fit: cover; */
  width: 100%;
}
.header_text {
  /* font-family: "Pacifico", cursive; */
  /* font-family: "Roboto", sans-serif; */
  margin: 6px;
}
.side_bar_container {
  width: 300px;
  /* display: none; */
  position: relative;
  left: -330px;
  transition: 0.4s linear;
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
}
.side_bar {
  width: 200px;
  background-color: rgba(255, 255, 255, 0);
  height: 100vh;
  position: fixed;
}
.menuButton i {
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  display: inline;
  padding: 15px 15px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: relative;
  left: 30px;
  top: 20px;
}
.checker #check {
  display: none;
}

#check:checked ~ .side_bar_container {
  background-color: rgba(255, 255, 255, 0.2);
  height: 100vh;
  left: 0;
}
#check:checked .contents{
  opacity: 0.6;
}
#check:checked ~ .menuButton {
  display: none;
}
.upper i {
  position: relative;
  right: -210px;
  cursor: pointer;
  top: -31px;
  font-size: 20.5px;
  color: black;
  width: 27px;
  height: 24px;
  font-weight: bold;
  text-align: center;
}
.upper i:hover {
  border-radius: 50%;
  border: 1px black solid;
  /* padding: 5px; */
}
.side_bar_container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 20px;
  padding-right: 20px;
}
.links {
  margin-top: 30px;
}
.links a {
  padding: 7px;
  width: 100%;
}
.links a i {
  margin-right: 8px;
}
.links a:hover {
  box-shadow: 0 2px 3px black;
}
.side_bar_container div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.side_bar_container div a {
  color: black;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
}
.same {
  /* width: 350px;
  height: 350px; */
}
.contents {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
